Library_Management/env/Lib/site-packages/PIL/_imaging.cp310-win_amd64.pyd
Library_Management/env/Lib/site-packages/PIL/_webp.cp310-win_amd64.pyd
Library_Management/env/Lib/site-packages/PIL/msvcp140.dll
Library_Management/env/Lib/site-packages/PIL/vcruntime140_1.dll
Library_Management/env/Scripts/python.exe
Library_Management/library_management/db.sqlite3
